*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.bcf
*.run.xml
*.dvi
*.ps
*.idx
*.ilg
*.ind
*.upa
*.upb
*.thm
*.nav
*.snm
*.cut
*.loe
*.xdv
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Editors
*.swp
*.bak
*~
*.tmp
*.backup
*.DS_Store
latex.out/
*.auxlock
*.synctex.gz(busy)
.texpadtmp
*.arx
build/
output/
out/
